<div class="app-title">
    <div>
      <h1><i class="fa fa-th-list"></i> Edit - {{contact.name}}'s Data</h1>
      <!-- <p>Table to display analytical data effectively</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item active"><a href="#">edit owner</a></li>
    </ul>
  </div>
  
  <div class="row">
      <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">Edit - {{contact.name}}'s Data</h3>
            <div class="tile-body">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="control-label col-md-2">full name</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="{{contact.name}}" name="name" placeholder="Ongorn	Pruekosit">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-2">email</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="{{contact.email}}" name="email" placeholder="Ongorn@gmail.com">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-2">tel</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="{{contact.tel}}" name="tel" placeholder="0854111452">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-2">project</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="{{contact.project}}" name="project" placeholder="Park24 Condominium">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-2">Room No</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="{{contact.RoomNo}}" name="RoomNo" placeholder="68/248">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-2">Price</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="{{contact.Price}}" name="Price" placeholder="1,990">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-2">Bank name</label>
                  <div class="col-md-9">
                    <select class="form-control" id="exampleSelect1"  name="BankName">
                      <option value="{{contact.BankName}}" selected>{{contact.BankName}}</option>
                      <option>-</option>
                      <option>Bangkok Bank</option>
                      <option>Kasikorn Bank</option>
                      <option>Siam Commercial Bank</option>
                      <option>Krungthai Bank</option>
                      <option selected>TMB Bank</option>
                      <option>Bank of Ayudhya</option>
                      <option>Thanachart Bank</option>
                      <option>Kiatnakin Bank</option>
                      <option>CIMB Bank</option>
                      <option>Standard Chartered Thailand</option>
                      <option>ICBC Thai</option>
                      <option>Alipay</option>
                      <option>Bank of China</option>
                      <option>UOB</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-2">Account No</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="{{contact.AccNo}}" name="AccNo" placeholder="4110207434">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="control-label col-md-2">Account Name </label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" value="{{contact.AccName}}" name="AccName" placeholder="Ongorn Pruekosit">
                  </div>
                </div>

              </form>
            </div>
            <div class="tile-footer">
              <div class="row">
                <div class="col-md-8 col-md-offset-3">
                  <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-edit"></i>edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
